In [122]:
# Read a csv file and print its contents using pandas
import csv  
import pandas as pd

data = pd.read_excel('./Data/November-2025.xlsx', skiprows=1)
data.head()

,Employee ID,First Name,Department,01,02,03,04,05,06,07,...,OT2(H),OT3(H),Annual Leave(H),Sick Leave(H),Casual Leave(H),Maternity Leave(H),Compassionate Leave(H),Business Trip(H),Compensatory(H),Compensatory Leave(H)
0,1,HA,Department,NaN,NaN,NaN,NaN,NaN,NaN,08:27-18:49,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10,PATRICK,Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12,KHANH,Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,13,VANANH,Department,NaN,NaN,08:25-18:02,08:30-18:06,08:18-17:52,08:01-18:06,08:12-17:45,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,14,OBED,Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [123]:
# print from the 6 column to the end
data.iloc[:, 33:]
#delete them from the dataframe
data = data.iloc[:, :33]    
data.head()

,Employee ID,First Name,Department,01,02,03,04,05,06,07,...,21,22,23,24,25,26,27,28,29,30
0,1,HA,Department,NaN,NaN,NaN,NaN,NaN,NaN,08:27-18:49,...,08:20-18:19,NaN,NaN,08:25-14:26,08:27-18:01,08:22-17:42,08:28-18:18,08:19-19:24,NaN,NaN
1,10,PATRICK,Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,09:37-19:08,NaN,NaN,11:07-16:18,14:31-15:39,08:19-13:41,NaN,NaN,NaN,NaN
2,12,KHANH,Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13,VANANH,Department,NaN,NaN,08:25-18:02,08:30-18:06,08:18-17:52,08:01-18:06,08:12-17:45,...,08:17-18:04,NaN,NaN,NaN,08:16-18:14,08:18-18:07,08:22-18:06,08:23-18:17,NaN,NaN
4,14,OBED,Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,08:33-18:40,NaN,NaN,08:47-18:56,08:27-18:29,08:27-16:27,08:39-18:26,08:30-18:32,NaN,NaN

In [124]:
#now replace the 01 , 02 by the day of the last month like 11/01/2025, take it from the system date make a loop through the first line and replace the values 01, 02 ... by the last month day

from datetime import datetime
now = datetime.now()
last_month = now.month - 1 if now.month > 1 else 12
year = now.year if now.month > 1 else now.year - 1
days_in_last_month = (datetime(year, last_month + 1, 1) - datetime(year, last_month, 1)).days
for i in range(6, 6 + days_in_last_month):
    day_str = f"{i - 5:02d}"
    new_date_str = f"{last_month:02d}/{day_str}/{year}"
    data.rename(columns={day_str: new_date_str}, inplace=True)
data.head()

,Employee ID,First Name,Department,11/01/2025,11/02/2025,11/03/2025,11/04/2025,11/05/2025,11/06/2025,11/07/2025,...,11/21/2025,11/22/2025,11/23/2025,11/24/2025,11/25/2025,11/26/2025,11/27/2025,11/28/2025,11/29/2025,11/30/2025
0,1,HA,Department,NaN,NaN,NaN,NaN,NaN,NaN,08:27-18:49,...,08:20-18:19,NaN,NaN,08:25-14:26,08:27-18:01,08:22-17:42,08:28-18:18,08:19-19:24,NaN,NaN
1,10,PATRICK,Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,09:37-19:08,NaN,NaN,11:07-16:18,14:31-15:39,08:19-13:41,NaN,NaN,NaN,NaN
2,12,KHANH,Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13,VANANH,Department,NaN,NaN,08:25-18:02,08:30-18:06,08:18-17:52,08:01-18:06,08:12-17:45,...,08:17-18:04,NaN,NaN,NaN,08:16-18:14,08:18-18:07,08:22-18:06,08:23-18:17,NaN,NaN
4,14,OBED,Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,08:33-18:40,NaN,NaN,08:47-18:56,08:27-18:29,08:27-16:27,08:39-18:26,08:30-18:32,NaN,NaN

In [125]:
for col in data.columns[3:]:
    checkin_col = f"{col}_checkin"
    checkout_col = f"{col}_checkout"
    data[checkin_col] = data[col].apply(lambda x: x.split('-')[0] if isinstance(x, str) and '-' in x else None)
    data[checkout_col] = data[col].apply(lambda x: x.split('-')[1] if isinstance(x, str) and '-' in x else None)
    data.drop(col, axis=1, inplace=True)  # Remove original column

In [126]:
data.head(20)

,Employee ID,First Name,Department,11/01/2025_checkin,11/01/2025_checkout,11/02/2025_checkin,11/02/2025_checkout,11/03/2025_checkin,11/03/2025_checkout,11/04/2025_checkin,...,11/26/2025_checkin,11/26/2025_checkout,11/27/2025_checkin,11/27/2025_checkout,11/28/2025_checkin,11/28/2025_checkout,11/29/2025_checkin,11/29/2025_checkout,11/30/2025_checkin,11/30/2025_checkout
0,1,HA,Department,None,None,None,None,None,None,None,...,08:22,17:42,08:28,18:18,08:19,19:24,None,None,None,None
1,10,PATRICK,Department,None,None,None,None,None,None,None,...,08:19,13:41,None,None,None,None,None,None,None,None
2,12,KHANH,Department,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,13,VANANH,Department,None,None,None,None,08:25,18:02,08:30,...,08:18,18:07,08:22,18:06,08:23,18:17,None,None,None,None
4,14,OBED,Department,None,None,None,None,None,None,None,...,08:27,16:27,08:39,18:26,08:30,18:32,None,None,None,None
5,15,VQHUNG,Department,None,None,None,None,None,None,None,...,08:30,18:07,08:28,18:07,08:26,18:42,None,None,None,None
6,16,LE,Department,None,None,None,None,None,None,None,...,None,None,13:59,17:38,07:47,17:50,None,None,None,None
7,2,QUYNH,Department,None,None,None,None,09:01,18:21,08:57,...,08:34,18:15,08:51,18:15,08:46,19:11,None,None,None,None
8,3,THUY,Department,None,None,None,None,08:33,18:04,08:25,...,08:08,18:07,08:27,18:40,08:18,19:36,None,None,None,None
9,4,CAN,Department,None,None,None,None,09:15,18:05,08:44,...,08:21,18:01,07:48,18:05,07:58,18:16,None,None,None,None
10,5,DUNG,Department,None,None,None,None,08:21,18:02,08:21,...,07:31,18:04,None,None,08:03,18:53,None,None,None,None
11,6,DUY,Department,None,None,None,None,08:17,18:05,08:25,...,07:55,18:03,12:55,18:04,08:05,18:18,None,None,None,None
12,7,HIEP,Department,None,None,None,None,08:36,18:09,08:28,...,None,None,None,None,None,None,None,None,None,None
13,8,TRAN HA,Department,None,None,None,None,08:15,18:04,08:16,...,08:12,18:03,08:10,18:04,None,None,None,None,None,None
14,9,HUNG,Department,None,None,None,None,08:29,18:04,12:48,...,08:24,18:04,08:31,18:03,08:23,18:18,None,None,None,None

In [128]:

import calendar

# Filter columns that look like dates (contain '/')
date_cols = [col for col in data.columns[4:] if '/' in col]

for col in date_cols:
    # Remove any suffix after '_' (e.g., "_checkin" or "_checkout")
    base_date = col.split('_')[0]  # "11/02/2025"
    month, day, year = map(int, base_date.split('/'))
    
    weekday = calendar.weekday(year, month, day)
    if weekday in (5, 6):  # Saturday or Sunday
        checkin_col = f"{base_date}_checkin"
        checkout_col = f"{base_date}_checkout"
        # Drop only if columns exist
        for c in [checkin_col, checkout_col]:
            if c in data.columns:
                data.drop(c, axis=1, inplace=True)

# Save processed file
data.head(20).to_excel('./Data/November-2025-Processed.xlsx', index=False)
data.head(20)

,Employee ID,First Name,Department,11/03/2025_checkin,11/03/2025_checkout,11/04/2025_checkin,11/04/2025_checkout,11/05/2025_checkin,11/05/2025_checkout,11/06/2025_checkin,...,11/24/2025_checkin,11/24/2025_checkout,11/25/2025_checkin,11/25/2025_checkout,11/26/2025_checkin,11/26/2025_checkout,11/27/2025_checkin,11/27/2025_checkout,11/28/2025_checkin,11/28/2025_checkout
0,1,HA,Department,None,None,None,None,None,None,None,...,08:25,14:26,08:27,18:01,08:22,17:42,08:28,18:18,08:19,19:24
1,10,PATRICK,Department,None,None,None,None,None,None,None,...,11:07,16:18,14:31,15:39,08:19,13:41,None,None,None,None
2,12,KHANH,Department,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,13,VANANH,Department,08:25,18:02,08:30,18:06,08:18,17:52,08:01,...,None,None,08:16,18:14,08:18,18:07,08:22,18:06,08:23,18:17
4,14,OBED,Department,None,None,None,None,None,None,None,...,08:47,18:56,08:27,18:29,08:27,16:27,08:39,18:26,08:30,18:32
5,15,VQHUNG,Department,None,None,None,None,None,None,None,...,09:16,18:27,08:24,18:23,08:30,18:07,08:28,18:07,08:26,18:42
6,16,LE,Department,None,None,None,None,None,None,None,...,None,None,None,None,None,None,13:59,17:38,07:47,17:50
7,2,QUYNH,Department,09:01,18:21,08:57,18:09,08:40,16:44,09:39,...,08:52,18:18,08:41,18:30,08:34,18:15,08:51,18:15,08:46,19:11
8,3,THUY,Department,08:33,18:04,08:25,18:08,08:26,18:09,08:20,...,08:28,18:30,08:24,18:11,08:08,18:07,08:27,18:40,08:18,19:36
9,4,CAN,Department,09:15,18:05,08:44,18:04,08:21,18:08,08:17,...,09:02,14:12,None,None,08:21,18:01,07:48,18:05,07:58,18:16
10,5,DUNG,Department,08:21,18:02,08:21,18:00,08:17,18:02,08:09,...,08:01,17:38,11:29,19:02,07:31,18:04,None,None,08:03,18:53
11,6,DUY,Department,08:17,18:05,08:25,18:05,07:44,18:08,07:55,...,07:49,18:07,07:49,18:04,07:55,18:03,12:55,18:04,08:05,18:18
12,7,HIEP,Department,08:36,18:09,08:28,18:02,08:26,18:03,08:28,...,None,None,None,None,None,None,None,None,None,None
13,8,TRAN HA,Department,08:15,18:04,08:16,18:02,08:04,18:02,08:05,...,08:16,17:38,08:13,18:04,08:12,18:03,08:10,18:04,None,None
14,9,HUNG,Department,08:29,18:04,12:48,18:03,08:23,18:04,08:27,...,08:28,18:04,08:25,16:39,08:24,18:04,08:31,18:03,08:23,18:18

In [132]:

from datetime import datetime

# Get all check-in columns dynamically
checkin_cols = [col for col in data.columns if col.endswith('_checkin')]

def calculate_total_hours(row):
    total_hours = 0
    for checkin_col in checkin_cols:
        checkout_col = checkin_col.replace('_checkin', '_checkout')
        checkin = row.get(checkin_col)
        checkout = row.get(checkout_col)
        if checkin and checkout:
            try:
                checkin_time = datetime.strptime(checkin, '%H:%M')
                checkout_time = datetime.strptime(checkout, '%H:%M')
                hours_worked = (checkout_time - checkin_time).seconds / 3600
                total_hours += hours_worked
            except ValueError:
                continue
    return round(total_hours, 2)

data['Total_Hours'] = data.apply(calculate_total_hours, axis=1)
data.head(20)

,Employee ID,First Name,Department,11/03/2025_checkin,11/03/2025_checkout,11/04/2025_checkin,11/04/2025_checkout,11/05/2025_checkin,11/05/2025_checkout,11/06/2025_checkin,...,11/24/2025_checkout,11/25/2025_checkin,11/25/2025_checkout,11/26/2025_checkin,11/26/2025_checkout,11/27/2025_checkin,11/27/2025_checkout,11/28/2025_checkin,11/28/2025_checkout,Total_Hours
0,1,HA,Department,None,None,None,None,None,None,None,...,14:26,08:27,18:01,08:22,17:42,08:28,18:18,08:19,19:24,155.98
1,10,PATRICK,Department,None,None,None,None,None,None,None,...,16:18,14:31,15:39,08:19,13:41,None,None,None,None,51.87
2,12,KHANH,Department,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0.00
3,13,VANANH,Department,08:25,18:02,08:30,18:06,08:18,17:52,08:01,...,None,08:16,18:14,08:18,18:07,08:22,18:06,08:23,18:17,180.70
4,14,OBED,Department,None,None,None,None,None,None,None,...,18:56,08:27,18:29,08:27,16:27,08:39,18:26,08:30,18:32,120.87
5,15,VQHUNG,Department,None,None,None,None,None,None,None,...,18:27,08:24,18:23,08:30,18:07,08:28,18:07,08:26,18:42,48.70
6,16,LE,Department,None,None,None,None,None,None,None,...,None,None,None,None,None,13:59,17:38,07:47,17:50,13.70
7,2,QUYNH,Department,09:01,18:21,08:57,18:09,08:40,16:44,09:39,...,18:18,08:41,18:30,08:34,18:15,08:51,18:15,08:46,19:11,178.37
8,3,THUY,Department,08:33,18:04,08:25,18:08,08:26,18:09,08:20,...,18:30,08:24,18:11,08:08,18:07,08:27,18:40,08:18,19:36,181.62
9,4,CAN,Department,09:15,18:05,08:44,18:04,08:21,18:08,08:17,...,14:12,None,None,08:21,18:01,07:48,18:05,07:58,18:16,180.90
10,5,DUNG,Department,08:21,18:02,08:21,18:00,08:17,18:02,08:09,...,17:38,11:29,19:02,07:31,18:04,None,None,08:03,18:53,154.48
11,6,DUY,Department,08:17,18:05,08:25,18:05,07:44,18:08,07:55,...,18:07,07:49,18:04,07:55,18:03,12:55,18:04,08:05,18:18,196.42
12,7,HIEP,Department,08:36,18:09,08:28,18:02,08:26,18:03,08:28,...,None,None,None,None,None,None,None,None,None,105.72
13,8,TRAN HA,Department,08:15,18:04,08:16,18:02,08:04,18:02,08:05,...,17:38,08:13,18:04,08:12,18:03,08:10,18:04,None,None,187.98
14,9,HUNG,Department,08:29,18:04,12:48,18:03,08:23,18:04,08:27,...,18:04,08:25,16:39,08:24,18:04,08:31,18:03,08:23,18:18,186.47